
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #C8ECFF;
    background: color(display-p3 0.8118 0.9216 1);
    background-image: url(pictures/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100%
}

.title {
    color: #006BC3;
    color: color(display-p3 0.0392 0.4118 0.7412);
    font-family: "Bagel Fat One";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 3px;
    height:90px;

}
.image-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 0px;
 position:relative;
   height:450px;
  flex :1;
  width:600px;
  display: inline-block;
}
.image-container img{
  width: 100%;
  height: auto;
  object-fit: contain;
}
 .video-container {
  flex:1;
  width: 700px;
  height:450px;
  display: inline-block;
  border-radius: 60px;
  margin-top:90px;
  margin-left:0px;
  margin-right: 0px;
}
.video-container video {
  width: 100%;
  height: 100%;
  border-radius: 64px;
  object-fit: cover;
}


.register-button {
  margin-top:30px;
  margin-left: 500px;
  justify-content: center;
  position:relative;
  padding: 20px 60px;
  box-sizing: border-box;
  display:inline-block;
  background: linear-gradient(277.15deg, #0a69bdff -13.86%, #006BC3 54.48%, #00315A 121.52%);
  border-radius: 44.5px;
  border:2px solid ;
  
  font-family: 'BerlinSansFB', 'Berlin Sans FB', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
.register-button:hover {
  filter: drop-shadow(0px 7px 7px #00000059);
  transform: translateY(-2px);
}
.register-button:active {
  transform: translateY(0px);
  filter: drop-shadow(0px 3px 3px #00000040);
}